@using E_Commerce.Entities
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="container">
        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/Content/img/kitap.png" Los Angeles" width="1100" height="500">
                </div>
                <div class="carousel-item">
                    <img src="~/Content/img/kitap2.png" alt="Chicago" width="1100" height="500">
                </div>
                <div class="carousel-item">
                    <img src="~/Content/img/kitap3.png" width="1100" height="500">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
    <br /><br />
    @model HomeIndexViewModel

    @if (Model.Categories.Any())
    {
        IEnumerable<Category> orderedCategory = Model.Categories.OrderBy(t => t.CategoryName);

        <div class="row">
            @foreach (var item in orderedCategory)
            {
                <div class="col">
                    <div class="text-center btn btn-block btn-outline-success mb-4">
                        @item.CategoryName
                    </div>
                </div>                
            }
        </div>
    }


    @if (Model.Products.Any())
    {

        IEnumerable<Product> orderedProduct = Model.Products.OrderBy(t => t.ProductPrice);

        <div class="container ">
            <div class="row">

                @foreach(Product item in orderedProduct)
                {
                    <div class="col-3">
                        <div class="card border-success mb-3 text-center" style="max-width: 200px;">
                            <img src="@item.ProductImage" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-success">@item.ProductName</h5>
                                <p class="card-text">@item.ProductDescription</p>
                                <hr />
                                <h6 class="text-danger float-left">@item.Category.CategoryName</h6>
                                <h6 class="float-right">@item.ProductPrice ₺</h6>
                            </div>
                            <div class="card-footer bg-transparent border-success">

                                <div><a href="#" class="btn btn-outline-success">Detay</a></div><br />
                                <div><a href="#" class="btn btn-outline-success">Sepete Ekle</a></div>

                            </div>
                        </div>
                    </div><br />
                }

            </div>
        </div>
    }

</body>
</html>

